.dashboard{
    height: 100vh;
    background: #24293e;
    display: grid;
    padding: 1.5rem;
    grid-template-columns: 15vw 1fr;
    grid-template-rows: 15vh 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    gap: 1.5rem
}

.header{
    grid-area: header;
}

.sidebar{
    grid-area: sidebar;
    flex-direction: column;
    /* test of responsive navbar */

}

.main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 1.5rem;
    gap: 1.5rem;
    grid-template-areas: 
        "tutor     tutor     news    news"
        "upcomming upcomming news    news"
        "upcomming upcomming toAccept toAccept"
        "stats     stats     toAccept toAccept"
        ;    
}

.tutor{
    grid-area: tutor;
}

.news{
    grid-area: news;
}

.upcomming{
    grid-area: upcomming;
}

.toAccept{
    grid-area: toAccept;
}

.stats{
    grid-area: stats;
}

.main, .header, .sidebar{
    border-radius: 1rem;
    background: #2f3651;
}

.tutor, .news, .upcomming, .toAccept, .stats{
    border-radius: 1rem;
    background: #36405c;
}

